[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
	branch = v2.x
